body{
  padding-top: 80px;
}

.sip-logo{
  width:50px;
}

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 1em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.inputcus {
  border: 1px solid white;
  border-radius:0px;
  background:black;
  color:white;
}

.hov:hover{
  background: black;
}

.unread{
  background:#fde5e6;
}

.unseen{
  background:#e8ffd1;
}

.count-notif-2{
  position:absolute;
  top:17px;
  right:245px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 5px 3px 5px;
}

.count-notif-1{
  position:absolute;
  top:17px;
  right:245px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 8px 3px 8px;
}

.count-new-notif-2{
  position:absolute;
  top:17px;
  right:183px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 5px 3px 5px;
}

.count-new-notif-1{
  position:absolute;
  top:17px;
  right:183px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 8px 3px 8px;
}

.count-msg-1{
  position:absolute;
  top:17px;
  right:190px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 8px 3px 8px;
}

.count-msg-2{
  position:absolute;
  top:17px;
  right:190px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 5px 3px 5px;
}

.count-new-msg-1{
  position:absolute;
  top:17px;
  right:123px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 8px 3px 8px;
}

.count-new-msg-2{
  position:absolute;
  top:17px;
  right:123px;
  color:white;
  font-size: 0.52em;
  border-radius: 50%;
  padding:3px 5px 3px 5px;
}

.thumb-dropdown .dropdown-menu > li {
    position: relative;
}
.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute; 
    left: 100%;
    top: -10px;
    display: none;    
    width: 350px;
    height: auto;
    margin-left: 5px;
}
.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail  {
    display: block;    
}


.tabs {
  /*max-width: 640px;*/
  /*width: 500px;*/
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  /*border: 1px solid #ddd;*/
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}


.inputcus:placeholder-shown {
  border-color: white;
  background: black;
}

#magic-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 4px;
  background:#fc0a52;
}

.nav-scroller {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


.baris-1{
  /*background: url(../img/Donor-Darah-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height:520px;
  padding:65px 0px 0px 0px;
}

.baris-2{
  background: url(../img/minimalis-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: #f41818;*/
  height:850px;
  background: ;
  padding-top: 25px;
  padding-bottom:55px;
}

.box-urgent{
  background: #fff4f4;
  width:100%;
  height:250px;
  padding:15px 11px 11px 13px;
  border:solid 1px #d1d1d1;
  box-shadow: 5px 7px 8px #888888;
}

.box-urgent-me{
  background: #e0e0e0;
  width:100%;
  height:250px;
  padding:15px 11px 11px 13px;
  border:solid 1px #d1d1d1;
  box-shadow: 5px 7px 8px #888888;
}

.box-urgent-me-active{
  background: #ddffd6;
  width:100%;
  height:250px;
  padding:15px 11px 11px 13px;
  border:solid 1px #d1d1d1;
  box-shadow: 5px 7px 8px #888888;
}

.urgent-blood{
  font-weight:600;
  color: black;
  font-size: 1.55em;
  margin-bottom: -10px;
}

.urgent-bag{
  color: black;
  font-size: 1.2em;
}

.urgent-desc{
  text-align: right;
  color:black;
  font-size:0.75em;
  font-weight: 100;
  margin-bottom: 0px;
}

.urgent-user{
  text-align: right;
  color:black;
  font-size:0.8em;
  font-weight: 100;
  padding-right: 7px;
}

.urgent-deadline{
  position:absolute;
  top:13px;
  right:27px;
  border-radius:0px;
  font-size: 0.7em;
  color:black;
}

.urgent-time{
  position:absolute;
  bottom:15px;
  left:27px;
  border-radius:0px;
  font-size: 0.7em;
  color:black;
}

.urgent-info{
  border-radius:0px;
  font-size: 0.7em;
}

.baris-3{
  background: url(../img/minimalis-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
  background: ;
  padding-top: 25px;
}

.type-style{
  font-size: 2em;
  color:white;
}

.box-l-row-1{
  text-align: right;
  padding-top:100px;
}

.box-r-row-1{
  padding-top:110px;
  text-align:left;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .type-style{
    font-size: 1.3em;
    color:white;
  }

  .box-l-row-1{
    text-align: center;
    padding-top:70px;
    height:50px;
  }

  .box-r-row-1{
    padding-top:10px;
    text-align:center;
  }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .baris-2{
    background: url(../img/minimalis-4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:630px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 80px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }

  #magic-line {
    display: none;
  }

  .baris-2{
    background: url(../img/minimalis-4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:630px;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}